<launch>
    <param name="robot_name" value="zoidstein" />
    <param name="armature_name" value="Armature" />
    <param name="armature_config" value="$(find ros_bge_bridge)/launch/zoidstein_armature_axes.yaml" />

    <node pkg="ros_bge_bridge" type="run_bge_armature_controller.py" name="bge_armature_controller" output="screen">
        <param name="bge_armature_controller_config" value="$(find ros_bge_bridge)/launch/zoidstein_armature_controller.yaml" />
    </node>

    <node pkg="ros_bge_bridge" type="launch_blender" name="launch_blender" output="screen">
        <param name="blend_file" value="$(find ros_bge_bridge)/launch/zoidstein.blend" />
    </node>
</launch>
